<!DOCTYPE html>
<html lang="en">

<head>
    <title>Email Template</title>
    <style>
        #card {
            width: 200px;
            height: 400px;
            padding: 20px;
            border: solid black 10px;
            background-color: brown;
        }
        
        p {
            color: white;
        }
    </style>
</head>

<body>
    <h3>MR. {{name|title}}</h3>
    <div id="card">
        <p>Welcome to the world of Python and django</p>
    </div>
</body>

</html>