{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width:400px;">
    {% if validlink %}
        <h3>
            Confirm Password
        </h3>

    <form method="post" class="form-group">
        {% csrf_token %}
        {{form | crispy}}
        <p>
            <input type="submit" class="btn btn-success" value="Save">
        </p>
    </form>
    {% else %}
        <h3> Error </h3>
        <pre>
            The link is expired you can request for new one.
        </pre>

    {% endif %}
</div>

{% endblock %}